<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KisiselWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KisiselWeb.styles.css" asp-append-version="true" />

    <link href="~/DevFolio/assets/img/favicon.png" rel="icon">
    <link href="~/DevFolio/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="~/DevFolio/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/DevFolio/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/DevFolio/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/DevFolio/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/DevFolio/assets/css/style.css" rel="stylesheet">


</head>
<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Index">Hakkımda</a></li>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Services">Servisler</a></li>
                    <li><a class="nav-link scrollto " asp-area="" asp-controller="Home" asp-action="Work">Çalışmalar</a></li>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Contact">İletişim</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header>
    
    <div id="hero" class="hero route bg-image" style="background-image: url(/DevFolio/assets/img/image_bg.jpg)">
        <div class="overlay-itro"></div>
        <div class="hero-content display-table">
            <div class="table-cell">
                <div class="container">
                    <p class="display-6 color-d">Merhaba!</p>
                    <h1 class="hero-title mb-4">Ben OLCAY CEYLAN</h1>
                    <p class="hero-subtitle"><span class="typed" data-typed-items="Designer, Developer, Freelancer"></span></p>
                    <p@* class="pt-3 *@"><a class="btn btn-outline-info @* btn js-scroll px-4 *@" href="#about" role="button"><i class="bi bi-arrow-down"></i> Daha Fazlası <i class="bi bi-arrow-down"></i></a></p>
                </div>
            </div>
        </div>
    </div>
@*     <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KisiselWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-box">
                        <p class="copyright">&copy; @DateTime.Now.Year Copyright <strong>Olcay CEYLAN</strong>. All Rights Reserved</p>
                        <div class="credits">

                            <a href="https://github.com/olcayceylan">Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/DevFolio/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/DevFolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/DevFolio/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/DevFolio/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/DevFolio/assets/vendor/typed.js/typed.umd.js"></script>
    <script src="~/DevFolio/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/DevFolio/assets/js/main.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
