
@{
    ViewData["Title"] = "About";
}
<section id="services" class="services-mf pt-5 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Servisler
                    </h3>
                    <p class="subtitle-a">
                        Alanında uzman olduğum servisler...
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Design</h2>
                        <p class="s-description text-center">
@*                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                            provident vitae! Magni
                            tempora perferendis eum non provident. *@
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Development</h2>
                        <p class="s-description text-center">
@*                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                            provident vitae! Magni
                            tempora perferendis eum non provident. *@
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Photography</h2>
                        <p class="s-description text-center">
@*                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                            provident vitae! Magni
                            tempora perferendis eum non provident. *@
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-binoculars"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Responsive Design</h2>
                        <p class="s-description text-center">
@*                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                            provident vitae! Magni
                            tempora perferendis eum non provident. *@
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-brightness-high"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Graphic Design</h2>
                        <p class="s-description text-center">
@*                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                            provident vitae! Magni
                            tempora perferendis eum non provident. *@
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-calendar4-week"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Marketing Services</h2>
                        <p class="s-description text-center">
@*                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                            provident vitae! Magni
                            tempora perferendis eum non provident. *@
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section-counter paralax-mf bg-image" style="background-image: url(/DevFolio/assets/img/counters-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container position-relative">
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="bi bi-check"></i></span>
                    </div>
                    <div class="counter-num">
                        <p data-purecounter-start="0" data-purecounter-end="63" data-purecounter-duration="1" class="counter purecounter"></p>
                        <span class="counter-text">TAMAMLANAN İŞLER</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
                    </div>
                    <div class="counter-num">
                        <p data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="counter purecounter"></p>
                        <span class="counter-text">YILLARIN DENEYİMİ</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="bi bi-people"></i></span>
                    </div>
                    <div class="counter-num">
                        <p data-purecounter-start="0" data-purecounter-end="80" data-purecounter-duration="1" class="counter purecounter"></p>
                        <span class="counter-text">TOPLAM MÜŞTERİ SAYISI</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="bi bi-award"></i></span>
                    </div>
                    <div class="counter-num">
                        <p data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="counter purecounter"></p>
                        <span class="counter-text">ÖDÜL KAZANDI</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>