@using KisiselWeb.Concrete;
@model List<Testimonial>
@{
    ViewData["Title"] = "Work";
}

<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Portfolio
                    </h3>
                    <p class="subtitle-a">
                        Projelerini Teslim Ettiğim Firmalar ve Yorumlar.
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/DevFolio/assets/img/work-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="~/DevFolio/assets/img/work-1.jpg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">ByteCraft Innovations</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2022</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    @* <a href="~/DevFolio/portfolio-details.html"> <span class="bi bi-plus-circle"></span></a> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/DevFolio/assets/img/work-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="~/DevFolio/assets/img/work-2.jpg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">ArchiVisions Design Studio</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">11 May. 2021</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    @* <a href="~/DevFolio/portfolio-details.html"> <span class="bi bi-plus-circle"></span></a> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/DevFolio/assets/img/work-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="~/DevFolio/assets/img/work-3.jpg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">VisionPulse Media Solutions</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">23 Jun. 2023</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    @* <a href="~/DevFolio/portfolio-details.html"> <span class="bi bi-plus-circle"></span></a> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/DevFolio/assets/img/work-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="~/DevFolio/assets/img/work-4.jpg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">BrewMingle Coffee Co.</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">08 Sep. 2023</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    @* <a href="~/DevFolio/portfolio-details.html"> <span class="bi bi-plus-circle"></span></a> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/DevFolio/assets/img/work-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="~/DevFolio/assets/img/work-5.jpg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">FabricHarmony Creations</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">29 Oct. 2020</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    @* <a href="~/DevFolio/portfolio-details.html"> <span class="bi bi-plus-circle"></span></a> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/DevFolio/assets/img/work-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="~/DevFolio/assets/img/work-6.jpg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">EchoSphere Entertainment</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2022</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    @* <a href="~/DevFolio/portfolio-details.html"> <span class="bi bi-plus-circle"></span></a> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="testimonials paralax-mf bg-image" style="background-image: url(/DevFolio/assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
                        
                        @foreach (var item in Model)
                        {

                           <div class="swiper-slide">
                            <div class="testimonial-box">
                                <div class="author-test">
                                    <img src="@item.ClientImage" alt="" class="rounded-circle b-shadow-a">
                                    <span class="author">@item.Client</span>
                                </div>
                                <div class="content-test">
                                    <p class="description lead">
                                        @item.Comment
                                    </p>
                                </div>
                            </div>
                           </div>

                        }

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>

